.bord{
    background-color: rgb(126, 124, 126);
    max-height: 1200px;
    min-height: 700px;;
    width: 700px;
    margin-left:0%;
    margin-top: 100px;
    border-radius: 5%;
    border: 8px solid rgb(255, 0, 221);
}
.color1{
    background-color: rgb(255, 0, 0);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 12%;
    margin-top: 2%;
}
.color2{
    background-color: rgb(247, 0, 255);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 2%;
}.color3{
    background-color: rgb(72, 33, 245);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 2%;
}.color4{
    background-color: rgb(35, 175, 180);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 2%;
}.color5{
    background-color: rgb(104, 218, 93);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 2%;
}.color6{
    background-color: rgb(246, 250, 27);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5%;
    margin-top: 2%;
}
h2{
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titleToGame{
    display: flex;
    gap:20%;
}
h3{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5%;
}
.theTrueList{
    display: flex;
}
.numGass{
    margin-right:2%;
}
.colorGass{
    margin-top:20%;
}
.black{
    background-color: rgb(0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 2%;
}
.white{
    background-color: rgb(243, 241, 241);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 2%;
}
