@font-face {
    font-family: 'myfont' ;
    src: url(../fonts/Assistant-Regular.ttf);
}
@font-face {
    font-family: 'myfontbold';
    src: url(../fonts/Assistant-SemiBold.ttf);
}
@font-face {
    font-family: 'myfontlight';
    src: url(../fonts/Assistant-Light.ttf);
}
body{
    font-family: 'myfont';    
    background-color:#FFF6E4;

}
.logo{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 10%;

}

h1{
    color: #ff9400;
    text-align: center; 
    font-size:  200%;
    font-family: 'myfontbold';
}
h4{
    text-align: center;
    font-size: 130%;
    margin: 5%;
}
h6{
    color: #ff9400;
    text-align: center;
    font-size: 125%;
    margin: 0%;
}

aside{
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}
.background{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
}
.things{
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    gap: 10%;
}
#key{
    width: 40%;
    opacity: 5%;
}
.top{
    display: flex;
}
.butt{
    display: flex;
}
#wheel-1, #wheel-2, #wheel-3, #wheel-4{
    width:  30%;
    opacity: 5%;
}
.intro{
    height: 90%;
    margin-right: 20%;
    position:absolute;
    white-space: nowrap; 
    animation: open 3s  ease forwards; 
}
.text{
    position:relative;
    margin-right: 20%;
    right: 230%;
    top: 140px;
    animation: open 3s  ease forwards; 
    
}
@keyframes open {
    0% {
      transform: translateY(-300%);
    }
    100% {
      transform: translateY(0%);
    }
}
button{
    background-color: #FFF6E4;
    width: 10%;
    height: 6%;
    font-family: 'myfont';
    font-size: 120%;
    border: none;
}

label{
    font-family: 'myfont' ;
    font-size: 110%;
}
#asking{
    align-items: center;
    justify-content: center;
    position: absolute;
    
}

input{
    width: 20%;
    height: 5%;
    background-color:#FFF6E4;
    font-family: 'myfont';
    font-size: 120%;
}

.go{
    position: absolute;
    background-color: #ff9400;
    width: 20%;
    font-size: 200%;
    font-family: 'myfont';
    right: 1200px;
    bottom: 20px;
}
.go:hover{
    background-color: #FFF6E4;
}
.play{
    position: absolute;
    background-color: #FFF6E4;
    width: 25%;
    font-size: 200%;
    font-family: 'myfont';
    right: 1122px;
    top: 20px;
}
.play:hover{
    background-color: #ff9400;
}
.logout{
    font-family: 'myfont';
    color: #FFF6E4;
    background-color: #ff9400;
    width: 20%;
    height: 1%;
}
.logout:hover{
    background-color: #FFF6E4;
    color: #ff9400;
    border: #ff9400 1px solid;
}


.כלום{
    background-image: url(../saund/applause.mp3);
    background-color:rgba(247, 215, 150, 0)00;
}