.logoLogin{
    position:absolute;
    width: 20%;
}

body{
    font-family: 'myfont';
    font-size: larger;
}
.goToReginster{
    background-color: #ff9400;
    width: 25%;
    margin-right: 38%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

input{
    width: 20%;
    margin: 1.5%;
    border: none;
    border-bottom: 1px solid #ff9400;/**/
    
}

button{
    width: 10%;
    padding: 0.5%;
    margin: 1.5%;
}

.send{
    background-color: #ff9400;
    margin-right: 40%;
}

.verifying{
    width: 20%;
    margin: 1.5%;
    
}
#verifying{
    width: 10%;

}
#hide_verifying{
    display: none;
    
}
.colors_for_verifying{
    display: flex;
    
    width: 200%;
    gap: 5%;
}
.red{
    background-color: rgb(193, 14, 14);
    height: 20px;
    width: 20px;
    border-radius: 20%;
}
.yellow{
    background-color: rgb(251, 255, 20);
    height: 20px;
    width: 20px;
    border-radius: 20%;
}
.green{
    background-color: rgb(15, 104, 15);
    height: 20px;
    width: 20px;
    border-radius: 20%;
}
.blue{
    background-color: rgb(13, 13, 134);
    height: 20px;
    width: 20px;
    border-radius: 20%;
}
.pink{
    background-color: rgb(255, 3, 141);
    height: 20px;
    width: 20px;
    border-radius: 20%;
}



